.fade-enter-active, .fade-leave-active
  transition opacity .5s

.fade-enter, .fade-leave-to
  opacity 0

finance-widget
  display block

.finance-content
  display flex
  box-sizing: border-box
  height 100%
  position relative
  width 100%
  &__section
    width 100%
    flex-shrink 0
    box-sizing: border-box