.buy-section
  display flex
  flex-direction column
  height 100%
  &__error
    font-size 14px
    text-align center
    display block
    color #f00
    margin-bottom 20px
    margin-top 20px
    line-height 1.35
  &__flist
    font-size 14px
    padding-left 20px
    padding-right 20px
    &-cell
      display flex
      justify-content space-between
      flex-wrap wrap
      margin-bottom 10px
      &:last-child
        margin-bottom 0
    &-left
      padding-right 15px
      display block
      color #999
    &-right
      display block
      color #000
    &-block
      display block
      text-align right
  &__caption
    text-align center
    font-size 24px
    margin-bottom 20px
    font-weight 600
    font-family "Cochin", Arial, sans-serif
  &__cell
    margin-bottom 15px
    &_center
      text-align center