.card-pay
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-bottom -20px
  position relative
  &__cell
    width 100%
    margin-bottom 20px
    &.smart
      width 100px
    &.long
      width calc(100% - 120px)
    &.hidden
      position absolute
      left 0
      top 1px
      width 1px
      height 1px
    &.city
      width calc(100% - 150px)
    &.postal
      width 140px

@media (max-width 500px)
  .card-pay
    &__cell
      width 100% !important