.buy-select
  &__option
    display flex
    align-items center
    .ab-lang &
      text-align right
    &-img
      width 24px
      height 24px
      border-radius 50%
      flex-shrink 0
      margin-right 10px
      .ab-lang &
        margin-right 0
        margin-left 10px
      img
        width 100%
        height 100%
    &-title 
      display block
      font-size 17px
      line-height 1
    &-caption
      font-size 12px
      display block
      color #999
      line-height 1.1
      margin-top 3px
      .multiselect__option--highlight &
        color #fff

@media (max-width 400px)
  .buy-select
    max-width 150px !important
    &__option
      &-title 
        font-size 15px
      &-img
        width 20px
        height 20px
        margin-right 7px
        .ab-lang &
          margin-right 0
          margin-left 7px

    .multiselect__tags
      padding: 8px 20px 0 5px;
    .multiselect__select
      right -4px
    .multiselect__input
      font-size 12px
    .multiselect__option
      padding-left 8px
      padding-right 8px